<h1>Tableau de bord - Prestataire</h1>

<% if current_provider %>
  <h2>Bienvenue sur votre tableau de bord !</h2>

  <!-- Lien pour ajouter une expérience -->
  <%= link_to 'Ajouter une expérience', new_experience_path, class: 'btn btn-primary' %>

  <!-- Section pour les expériences du provider -->
  <h2>Vos expériences</h2>
  <% if @provider_experiences.present? && @provider_experiences.any? %>
    <ul>
      <% @provider_experiences.each do |experience| %>
        <li><%= experience.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucune expérience trouvée.</p>
  <% end %>

  <!-- Section pour les réservations liées aux expériences du provider -->
  <h2>Réservations des autres utilisateurs</h2>
  <% if @customer_reservations.present? && @customer_reservations.any? %>
    <ul>
      <% @customer_reservations.each do |reservation| %>
        <li>Réservation pour l'expérience <%= reservation.experience.name %> - <%= reservation.user.email %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucune réservation trouvée.</p>
  <% end %>


<% else %>
  <p>Vous n'avez pas les permissions nécessaires pour accéder à ce tableau de bord.</p>
<% end %>
