<section class="hero-banner">
  <% if current_provider %>
    <%= image_tag "pro-banner.jpg", alt: "Surfeur en pleine action sur une vague, prêt à vivre une expérience immersive et pleine d'adrénaline", class: "banner-image-pro" %>
  <% else %>
    <%= image_tag "banner.jpg", alt: "Surfeur en pleine action sur une vague, prêt à vivre une expérience immersive et pleine d'adrénaline", class: "banner-image" %>
  <% end %>
</section>
