<section class="hero-banner">
  <%= image_tag "banner.jpg", alt: "Surfeur en pleine action sur une vague, prêt à vivre une expérience immersive et pleine d'adrénaline", class: "banner-image" %>
</section>
