<div class="banner">
  <div class="container text-center">
    <h1 class="banner-title">Explorez les tendances du moment</h1>
    <p class="banner-subtitle">Découvrez les expériences les plus populaires et réservez la vôtre dès maintenant.</p>
    <%= link_to "Voir les tendances", trends_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
