<div class="container">

    <div class="presentation-content">
      <!-- Texte à gauche -->
      <div class="presentation-texts">
        <h2 class="amsterdam banner-title">Travel Experience</h2>
          <h3 class="subtitle">Voyagez autrement, vivez l'instant</h3>
          <p class="presentation-text">
            Nous sommes OdyNest, une plateforme dédiée à la découverte et à la réservation d'expériences uniques à travers le monde.
            Que vous soyez à la recherche d'aventures en ville ou de moments de détente dans des lieux exotiques,
            OdyNest vous permet de vivre des moments inoubliables. 
            Explorez nos offres et plongez dans l'univers des expériences locales dans vos destinations favorites. 
            <%= link_to 'En savoir plus sur OdyNest', about_path %>
          </p>
      </div>

      <!-- Images à droite -->
      <div class="presentation-images">
        <%= image_tag "img1.jpg"%>
        <%= image_tag "img2.jpg"%>
        <%= image_tag "img3.jpg"%>
      </div>
      
    </div>
</div>
