<div class="container">

    <div class="presentation-content">
      <!-- Texte à gauche -->
      <div class="presentation-texts">
        <h2 class="amsterdam banner-title">Travel Experience</h2>
          <h3 class="subtitle">Ajouter sous-titre</h3>
          <p class="presentation-text">
            Choisir petit texte de présentation et voir si on ajoute un lien vers à propos ou autre ?
          </p>
      </div>

      <!-- Images à droite -->
      <div class="presentation-images">
        <%= image_tag "img1.jpg"%>
        <%= image_tag "img2.jpg"%>
        <%= image_tag "img3.jpg"%>
      </div>
      
    </div>
</div>
