<section class="trends-section">
  <section class="container">
    <figure class="trend-banner">
      <%= image_tag "banner2.jpg", alt: "Champ de lavande à perte de vue, une expérience immersive au cœur de la nature et des senteurs provençales", class: "trends-banner" %>
    </figure>

    <h2 class="amsterdam trends-title">Tendances du moment</h2>

    <section class="row">
      <% @trends.each do |trend| %>
        <article class="col-md-4 mb-4">
          <article class="card shadow-sm trend-card">
            <section class="card-body">
              <h3 class="card-title"><%= trend.title %></h3>
              <p class="card-text"><%= truncate(trend.description, length: 100) %></p>

              <%= link_to experience_path(trend), class: "cta" do %>
                <span>Voir plus</span>
                <svg width="15px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              <% end %>
            </section>
          </article>
        </article>
      <% end %>
    </section>
  </section>
</section>
