.navbar {
  padding: 10px 20px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar-brand {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar-nav .nav-item-pro {
  margin: 0 10px;
}

.navbar-nav .nav-link-pro {
  font-size: 1rem;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link-pro:hover {
  color: var(--secondary-color);
}

/* Boutons */
.btn-outline-primary {
  border-color: var(--text-color);
  color: var(--text-color);
}

.btn-outline-primary:hover {
  background-color: var(--text-color);
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #046d70;
}

.btn-warning {
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

.btn-warning:hover {
  background-color: #d98c50;
}

/* Style pour le lien actif */
.navbar-nav .nav-item.active .nav-link {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.navbar-nav .nav-item-pro.active .nav-link-pro {
  background-color: var(--secondary-color);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 10px;
}

/* Réactivité - Adaptation aux écrans plus petits */
@media (max-width: 1024px) {
  .navbar-brand {
    font-size: 1.25rem; /* Réduit la taille du logo sur les écrans plus petits */
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem; /* Réduit la taille du texte des liens de navigation */
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .navbar-brand {
    font-size: 1.2rem; /* Réduction de la taille du logo */
  }

  .navbar-nav {
    flex-direction: column; /* Empile les liens de navigation verticalement */
    align-items: center; /* Centre les éléments */
  }

  .navbar-nav .nav-item {
    margin: 5px 0; /* Espacement plus petit entre les items */
  }

  .navbar-nav .nav-link {
    font-size: 1rem; /* Taille de texte standard pour la navigation */
  }

  .btn-primary, .btn-warning {
    font-size: 0.875rem; /* Réduit la taille des boutons */
    padding: 8px 15px; /* Ajuste les dimensions des boutons */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 8px 10px;
  }

  .navbar-brand {
    font-size: 1rem; /* Taille du logo plus petite sur les petits écrans */
  }

  .navbar-nav .nav-link {
    font-size: 0.875rem; /* Réduit la taille du texte des liens */
  }

  .btn-primary, .btn-warning {
    font-size: 0.75rem; /* Taille réduite des boutons */
    padding: 6px 12px; /* Plus petit padding pour les petits écrans */
  }
}
