/* Cards tendance */
.trend-card {
  height: 150px; /* Hauteur réduite */
}

.trend-card .card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.trend-card .card-text {
  font-size: 14px;
  color: #666;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Cards expériences */
.card-experience {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

/* Conteneur de l'image */
.card-image-container {
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0; /* Par défaut, le contenu est masqué */
  transition: opacity 0.3s ease;
}

.card-content .card-title {
  margin-top: -40px;
  margin-bottom: 15px;
}

.card-content .card-text {
  margin: 0 15px 15px; /* Ajoute des marges à droite et à gauche de la description */
}

.card-experience:hover .card-image {
  opacity: 0.3;
}

/* Le contenu devient visible au survol */
.card-experience:hover .card-content {
  opacity: 1;
}

.card-footer {
  margin-top: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
  background: none !important; /* Aucune couleur de fond appliquée ici */
}

/* Espacement entre les éléments de la carte */
.card-content p {
  margin-bottom: 15px;
}

/* Ajout de marges autour des paragraphes du footer */
.card-footer p {
  margin-top: 0;
  margin-bottom: 10px;
}

