/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Import des styles de base */
@import url("base/variables.css");
@import url("base/typography.css");
@import url("base/helpers.css");

/* Import des layouts */
@import url("layout/navbar.css");
@import url("layout/footer.css");

/* Import des composants */
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/forms.css");

/* Import des styles spécifiques aux pages */
@import url("pages/home.css");
@import url("pages/experiences.css");
@import url("pages/profile.css");
@import url("pages/dashboard.css");
@import url("pages/contact.css");
@import url("pages/about.css");
@import url("pages/legal_mentions.css");
@import url("pages/terms.css");

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.opendys-font {
  font-family: "OpenDyslexic", "Montserrat", "Playfair Display SC", sans-serif !important;
}

.protanopia {
  filter: url("#protanopia");
}

.deuteranopia {
  filter: url("#deuteranopia");
}

.tritanopia {
  filter: url("#tritanopia");
}

.achromatopsia {
  filter: grayscale(100%);
}

#faq-toggle-btn {
  position: fixed;
  bottom: 120px; /* ajuste selon ton footer */
  right: 27px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  border-radius: 50%;
  background-color: #046d70;
  color: white;
  border: none;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#faq-bot {
  position: fixed;
  bottom: 166px; /* un peu au-dessus du bouton */
  right: 20px;
  width: 280px;
  font-size: 14px;
  z-index: 1000;
  border: 1px solid #ccc;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.faq-chat {
  display: flex;
  flex-direction: column;
}

.faq-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.faq-body {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
}

#faq-input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
